// Colors
$instock-black: #131B2C;
$slate : #5C667E;
$graphite: #232940;
$green: #158463;
$instock-indigo: #2E66E5;
$cloud:#BDC5D5;
$light-grey:#F7F8F9;
$red: #C94515;
$white: #FFFFFF;

// Breakpoints

$tablet-breakpoint: 767px;

$desktop-breakpoint:1279px;

// horizontal margins for mobile and tablet

$mobile-margins: 16px;

$tablet-margins: 32px;